.swiper-button-prev ,.swiper-button-next{
    background-color: white;
    color:#16a34a ;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border-radius: 100%;

}
.swiper-button-prev::after,.swiper-button-next::after{
    font-size: 20px;
}
.swiper-button-prev:hover,.swiper-button-next:hover{
    background-color: #16a34a;
    color: white;
}
.swiper-pagination-bullet-active{
    background-color: #16a34a !important;}
.swiper-wrapper{
    height:calc( 100vh - 200px);
}
.swiper-slide img{
    height: 100%;
}